.item-card {
    margin: 10px;
}

mat-card-header{
    margin: 0 auto;
    text-align: center;
}

.item-card img{
    width: 64px;
    margin: 0 auto;
}

mat-card-actions{
    display: flex;
    justify-content: space-between;
}

