<div class="main-container">

    <section class="add-item-header">
        <header>
            <h2>Add new item to database</h2>
        </header>
    </section>
    <Section class="add-item-form">
        <form>
            <div class="flex">
                <div class="add-item-form-text">
                    <mat-form-field class="item-name">
                        <mat-label for="item-name">Item Name:</mat-label>
                        <input matInput type="text" name="item-name" id="item-name" placeholder="Ex. Leather Armor"
                            [(ngModel)]="item.nome">
                    </mat-form-field>
                    <mat-form-field class="add-item-form-sprite">
                        <span matPrefix><img [src]="item.imagem" alt=""></span>
                        <mat-label for="item-sprite">Upload Sprite:</mat-label>
                        <input matInput type="text" name="item-sprite" id="item-sprite"
                            placeholder="Ex. https://static.tibia.com/images/library/cultacolyte.gif"
                            [(ngModel)]="item.imagem">
                        <div class="item-sprite-upload">
                        </div>
                    </mat-form-field>
                </div>

                <div class="item-classes">
                    <p>Select an item category:</p>
                    <div class="item-classes-flex">
                        <div class="radio-buttons" *ngFor="let class of itemClasses">
                            <label for="{{class}}">
                                <input type="radio" id="{{class}}" name="item-class" value="{{class}}"
                                    (change)="ChangeItemClass($event.target)">
                                {{class}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="item-buttons">
                <button mat-raised-button color="primary" (click)="EditItem()">Submit</button>
                <button mat-raised-button color="warn" (click)="CancelAndClose()">Back to home</button>
            </div>

        </form>
    </Section>
</div>