<div class="main-container">

    <section class="add-item-header">
        <header>
            <h2>Editar item no banco de dados</h2>
        </header>
    </section>
    <Section class="add-item-form">
        <form>
            <div class="flex">

                <div class="item-name">
                    <label for="item-name">Item Name:</label><br>
                    <input type="text" name="item-name" id="item-name" placeholder="Ex. Leather Armor"
                        [(ngModel)]="item.nome">
                </div>

                <div class="item-sprite-upload">
                    <label for="item-sprite">Upload Sprite:</label><br>
                    <input type="text" name="item-sprite" id="item-sprite" placeholder="URL do tibia.fandom"
                        [(ngModel)]="item.imagem">
                </div>
                <div class="item-spite">
                    <img [src]="item.imagem" alt=""><br>
                </div>

                <div class="item-class">
                    <p>Select item category:</p>
                    <div class="flex">
                        <div class="radio-buttons" *ngFor="let class of itemClasses">
                            <label for="{{class}}">
                                <input type="radio" id="{{class}}" name="item-class" value="{{class}}"
                                    (change)="ChangeItemClass($event.target)">
                                {{class}}
                            </label>
                        </div>
                    </div>
                </div>
                </div>

            <div class="item-buttons">
                <button mat-raised-button color="primary" (click)="EditItem()">Submit</button>
                <button mat-raised-button color="warn" routerLink="" (click)="CancelAndClose()">Close</button>
            </div>

        </form>
    </Section>
</div>