<Section class="delete-item-header">
    <h2>Delete item from database</h2>
    <section class="delete-item-form">
        <p>You are about to permanently exlude this item from the database. Do you <strong>really</strong> wish to continue?</p>
        <p>After the confirmation, the deleted data can't be retrieved.</p>
        <div class="delete-item-form-actions">
            <button mat-raised-button color="primary" type="button" (click)="deleteItem()">Confirm and delete</button>
            <button mat-raised-button color="warn" type="button" (click)="cancel()">Back to home</button>
        </div>
    </section>
</Section>